.page-tweet .isLiked {
  color: red;
}
.page-tweet .isLiked svg {
  color: red;
}

.page-tweet__body--stats {
  display: flex;
  align-items: center;
}

.trash-icon {
  position: absolute;
  left: 15px;
  top: 15px;
}
Link {
  cursor: pointer;
}
.title {
  margin: 10px;
  padding: 10px;
}

.search-container {
  margin: 20px;
  padding: 20px;
}

.item-container {
  margin: 20px;
  padding: 20px;
}
